os: linux
dist: bionic
language: node_js
node_js:
  - 8
  - lts/carbon
  - lts/dubnium
  - lts/erbium
before_install:
  # latest npm, gulp
  - npm i -g gulp-cli # npm yarn
  ## latest yarn
  # - curl -o- -L https://yarnpkg.com/install.sh | bash # -s -- --version [version]
  # - export PATH="$HOME/.yarn/bin:$PATH"
cache:
  yarn: true
install:
  - yarn install
before_script:
  - gulp
  - cd dist
  - yarn install
script:
  - npm test
  - cd ..
before_deploy:
  - gulp preBuild
  - cd dist
deploy:
  edge: true
  cleanup: false
  on:
    branch: master
    tags: true
  tag: latest
  provider: npm
  email:
    secure: qJK5RDdXDdzPwfK+7LqVryIh29ZegPwpacJjdqSbMq19VQr2B03nrAwfkfhGaFDwCZxMuV94Szld4NFIM1mkcBDopYqVb92hxS/usHyZnampX4QC3R68WdJMtiIPZGV5jzCFIN/GHfk/3JPOe6lHjuEEHmvqBFu28wjhC8SkUe/dkyYR8h8skmNw5UCu9vBLSah/i8C74c6E6dS8G+T8AteibpInj61pe7fbaXHLLp0Puqo9E5Ju/r3eS/jcnJgWUJ4hmdVx0whgnQwXiyNzM3wRHOHGEEnJvZluFH6B7X8s1ol+a+6pIxyyPVgYHeoFc7QrKKAbW3odzZgiG3sx2XBMZSisXBaytPiYeu+KiVzaz+lpweBVk87uFhVkssBqmUa/Z8/r7hQeUrteCTllrfIwlilwpkc21yVsahwRgn05dE11lXFj/J0ILhj483E50YKY7eYQ3lAzrWi8e0VjL22re9PTnTaKjeJUhHYOsp3Rqt+Pvd9vKuW8TDByUE2QLNJZ46t84MUbdlDF0zSEIH07fkBpb3AuSG1aOA/TlhaEoQOLt9s/uvECXn84zn+8NSfovnJo9IRtgH6q+gBdWhT5L963pNcyaBQY5KeIhsPD0Lvmw+NVsYZpjLfZ+hjewaj723Pk4RXiBxMgWYd04GvacdcWUJToEBUgn7zWVgk=
  api_key:
    secure: JjLAv8gH2wHw3ibSZ9wEabnR+hFMow/1D1V4F6Hz1/ByZXkYKx5PKKAcfEWyfhjG5pkuEbyyxDqp1C3g+z7rqFhYRlEFNJ8B71L8Dz32qF0PDqrWbAxoKorthCUtWWqQX8Kc6eORbZN6FtZrkrkRDlY2jetBbHMquF6drYW2wF5rsE6FuStHBJPQJ36wpL61UGFMRV8gqTOirALe8rnt+xF5kWTucGGwnjg76ezWTXsoSwHwbuIvtyGl1aR6TBGP7BUzg73FBHjT/DqdORYVYPZBFfBWIKeP/7nGHp0lNknAUiPu4fRtUXuWrcxnGHpxNgjDVlPRs/M/MmENFPfJ+87Te4YsTaRYWkyoWIeCB8GgelO70fvl+B7+NuMS+lMfIsvP3B0tUULBVYXwNel1Dquo0Nj8hekfTxcBUy4omfanz+/iixb4mZN8asShhW9jx5Xr2rNwWcSaxs4PKbchLKEgU0B3xCEWT313XvU/yutWk/cgAmPe4ph+DC9cG3CM35HfyyxFTjyPZmQeKPvJO0oEZwcrLRxYCUH7D6iUn46Df/AU72SRStLxRJVm0S3vy9a0ebMM/WINTQnYRgI5Qqxe8rdbn0ZfLd6VNmATpFfRRQrVo8C3xl8B67TTpZTv1CvgCWXWkdh8HG2QeVMI76kW8QjnldjLddEjXBjXm9M=
